.board-root {
  height: 100vh;
  width: 100vw;
  background: $blue;
  color: $yellow;
  display: flex;
  font-size: 32px;

  .column {
    height: 100%;
    width: 20vw;
    display: flex;
    flex-direction: column;
  }

  .square {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    max-height: calc(100vh / 6);
    height: 100%;
    overflow: hidden;
    text-align: center;
    @include flex-center;

    &.category {
      color: white;
      padding: 10px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}
