//BURGER WITH ANIMATION
.btn--burger {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 22px;
  padding: 12px;
  color: white;
  z-index: 30;

  .burger-stripe {
    width: 20px;
    height: 2px;
    border-radius: 2px;
    background: white;
    margin-bottom: 4px;
    transition: transform 300ms ease, opacity 150ms ease;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &.menu-open > .burger-stripe {
    &.stripe-1 {
      transform: rotate(45deg) translate(2.5px, 3px);
    }
    &.stripe-2 {
      opacity: 0;
    }
    &.stripe-3 {
      transform: rotate(-45deg) translate(5.5px, -6px);
    }
  }
}

//MENU

.menu {
  position: absolute;
  top: 70px;
  bottom: 70px;
  right: 0;
  padding: 20px;
  background: $blue;
  border: 1px black solid;
  color: white;
  transform: translateX(100%);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: 8px 16px 60px rgba(0, 0, 0, 0.05), 0 2px 12px rgba(0, 0, 0, 0.03);
  transition: transform 300ms ease-out, opacity 300ms ease;
  z-index: 30;
  opacity: 0;

  &.is-visible {
    transform: translateX(0);
    opacity: 1;
  }

  .btn--menu-btn {
    color: white;
    font-size: 36px;
    width: 100%;
    padding: 15px 20px;
    border: white 1px solid;
    box-shadow: 8px 16px 60px rgba(0, 0, 0, 0.05), 0 2px 12px rgba(0, 0, 0, 0.03);

    &:hover {
      box-shadow: 8px 16px 60px rgba(0, 0, 0, 0.1), 0 2px 12px rgba(0, 0, 0, 0.07);
    }
  }

  .team {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-top: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 10px;

    .score {
      font-weight: bold;
      margin-left: auto;
    }
  }

  .lang-switcher {
    display: flex;
    margin-top: auto;
    margin-bottom: 10px;

    .btn--lang-btn {
      margin-right: 10px;
      font-size: 26px;
      transform: scale(0.95);
      transition: transform 150ms ease;

      &:last-child {
        margin-right: 0;
      }

      &.is-active {
        transform: scale(1.05);
      }
    }
  }
}
