.square {
  &.is-disabled {
    pointer-events: none;
    & > * {
      opacity: 0;
      visibility: hidden;
    }
  }

  .btn--open-question {
    background: transparent;
    border: none;
    color: $yellow;
    font-size: 50px;
    font-weight: bold;
    padding: 30px;
    height: 100%;
    width: 100%;
  }
}

.question-modal {
  flex-direction: column;
  background: $blue;
  color: $yellow;

  .question {
    font-size: 58px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    line-height: 1.5em;
    max-width: 90%;
  }

  .answer {
    visibility: hidden;
    opacity: 0;
    transition: opacity 500ms ease;
    transition-delay: 500ms;
    font-size: 64px;
    font-weight: bold;

    &.is-visible {
      visibility: visible;
      opacity: 1;
    }
  }
}
