.score-assign {
  position: absolute;
  bottom: 4%;
  left: 2%;
  min-width: 35%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 32px;
  font-weight: bold;
  transition: transform 500ms ease;
  transition-delay: 2s;

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    transform: translateX(-150%);
  }

  .title-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .teams {
    display: flex;
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .team-wrapper {
      margin-right: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 70px;
      position: relative;
    }
  }

  .added-value {
    font-size: 22px;
    position: absolute;
    top: -45%;
    transform: translateY(140%);
    z-index: 1;
    transition: transform 300ms ease-out;
    opacity: 0;
    &.is-active {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .team-elements {
    display: flex;
    align-items: center;
  }

  .btn--team-action {
    position: relative;
    width: unset;
    @include main-button-styles;
    transition: transform 150ms ease;
    font-weight: 600;
    margin-bottom: 10px;
    z-index: 2;
    text-align: center;
    min-width: 125px;
    margin-left: 5px;
    margin-right: 5px;

    &.highlighted {
      border-width: 2px;
      transform: scale(1.1);
      opacity: 1;
      pointer-events: none;
    }

    &.operator {
      min-width: 30px;
      opacity: 0;
      position: absolute;
      border: none;
      background: transparent;
      @include scale-on-hover;
      transition: transform 150ms ease, opacity 300ms ease;
      pointer-events: none;

      &.left {
        left: -5%;
        top: -50%;
      }

      &.right {
        right: -5%;
        top: -50%;
      }

      &.is-visible {
        opacity: 1;
        pointer-events: all;
      }

      &.is-disabled {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
      }
    }
  }

  .btn--finish-question {
    @include main-button-styles;
    font-size: 16px;
    margin-left: auto;
    margin-right: 15px;
    @include scale-on-hover;
  }
}
