$yellow: #ffc001;
$blue: #403bed;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

@import "./general";

@import "./components/board";
@import "./components/menu";
@import "./components/score-assign";
@import "./components/question";
@import "./components/final";
@import "./components/daily-double";
@import "./components/final-score-assign";
